In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error

In [15]:
df=pd.read_csv('../data/Weather_vs_Pixel_Area.csv')
df=df.drop('Unnamed: 0',1)

In [18]:
df.head()

,BME280_Humidity,BME280_Pressure,BME280_Temp,DS18B20_Temp,Date,Intensity,Spinach_Area,Potato_Area
0,54.00,898.84,30.25,23.62,2019-10-26 13:11:25,2011.0,126,890
1,54.04,898.64,30.02,23.62,2019-10-26 13:26:32,1797.0,398,1413
2,53.66,898.40,29.86,23.19,2019-10-26 13:41:39,1694.0,244,962
3,53.50,898.20,29.96,23.25,2019-10-26 13:56:47,1614.0,1159,2538
4,53.42,898.04,29.93,22.81,2019-10-26 14:11:54,1512.0,324,2880

In [19]:
def avearge(l,y,x):
    sum=0.0;
    for i in range(x,y+1):
        sum=sum+l[i]
    return (sum/(y-x+1))

In [20]:
h=np.array(df.BME280_Humidity)
p=np.array(df.BME280_Pressure)
t=np.array(df.BME280_Temp)
inten=np.array(df.Intensity)
sa=np.array(df.Spinach_Area)
pa=np.array(df.Potato_Area)
data=pd.DataFrame()

j=80
j2=int((j/2) + 1) 
for i in range(j,len(h)):
    dic={}
    dic['BME280_Humidity']=avearge(h,i-j2,i-j)
    dic['BME280_Pressure']=avearge(p,i-j2,i-j)
    dic['BME280_Temp']=avearge(t,i-j2,i-j)
    dic['Intensity']=avearge(inten,i-j2,i-j)
    dic['Spinach_Area']=sa[i]
    dic['Potato_Area']=pa[i]
    data=data.append(dic,ignore_index=True)
# data=data.apply(Normalize)
# data.to_csv('Weather_vs_Pixel_Area_10days.csv')
data.corr()

NameError: name 'Normalize' is not defined